.git
.gitignore
.env
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/node_modules
frontend/dist
frontend/.vite
storage/faces
storage/models
promt.md
*.md
!README.md
.idea
.vscode
